{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excellence Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
<nav>
    <ul>
        <li><img class="icons" src="{% static 'icon/home.png' %}" alt=""></li>
        <li><img class="icons" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-new-100-most-used-icons-flaticons-lineal-color-flat-icons.png"/></li>
        
        <!-- <li><img class="icons" src="https://img.icons8.com/fluency/48/null/login-rounded.png"/></li> -->
        <li><img class="icons" src="https://img.icons8.com/stickers/100/null/login-rounded.png" alt=""></li>
    
        <li><img class="icons"src="https://img.icons8.com/color-glass/480/null/info.png"/></li>
    </ul>
</nav>
</header>
</body>
</html>